@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@mixin adaptiv-font($pcSize, $mobSize, $maxWidth) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@function adaptivBlock($maxSize, $minSize, $maxWidth, $minWidth: 320) {
  @return calc(#{$minSize + px} + #{$maxSize - $minSize} * (100% - #{$minWidth + px}) / #{$maxWidth - $minWidth});
}

@function adaptivWindow($maxSize, $minSize, $maxWidth, $minWidth: 320) {
  @return calc(#{$minSize + px} + #{$maxSize - $minSize} * (100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth});
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

//variables
$md1: 970;
$md2: 770;
$md3: 630;
$md4: 490;
$maxWidth: 1920;
$maxWidthContainer: 1170;

@import "fonts";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import "header";
@import "footer";

html {
  scroll-behavior: smooth;
}

body {
  &._lock {
    overflow: hidden;
  }
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0px 15px;
  @media (max-width: $md1+px) {
    max-width: 940px;
  }
}
.page {
  &__container {
    margin-top: 23px;
  }
}

.main-menu {
  @media (max-width: $maxWidthContainer+px) {
    display: none;
  }

  height: 48px;
  box-shadow: inset 0 -3px 0 rgba(0, 1, 1, 0.23);
  border-radius: 10px;
  background-color: #ff5816;

  & li:first-child a {
    padding-left: 16px;
    border-radius: 10px 0 0 10px;
  }

  & li:nth-last-child(2) a {
    border-right: none;
    padding-right: 20px;
  }

  &__body {
    display: flex;
    height: 100%;
  }

  &__link {
    display: block;
    height: 100%;
    padding: 9px 7px 11px 6px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: normal;
    border-right: solid 1px #ffffff;

    &:hover {
      background-color: #fc7c49;
      text-decoration: underline;
    }
  }

  &__arrow {
    flex: 1 0 17px;
    background: url(../img/Layer_760.png) no-repeat right;

    & a {
      display: block;
      height: 100%;
      width: 100%;
      padding: 19px 0 0 6px;
    }
  }
}

.introducing {
  display: flex;
  padding-bottom: 40px;
  @media (max-width: $md4+px) {
    display: none;
  }

  &__advertisment {
    border-radius: 10px;
    background-color: rgb(227, 229, 235);
    height: 48px;
    font: 300 16px Roboto;
    color: rgb(19, 26, 26);
    font-style: italic;
    text-transform: uppercase;
    padding: 0 10px;
    margin: 15px 0 33px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $maxWidthContainer+px) {
      font-size: adaptivWindow(16, 12, $maxWidthContainer, $md1);
    }
    @media (max-width: $md1+px) {
      font-size: 12px;
      a {
        display: block;
      }
    }
    @media (max-width: $md2+px) {
      display: none;
    }

    & a {
      color: #4673ab;
      font-weight: 500;
    }
  }

  &__column {
    padding: 0 0 0 30px;
    min-width: 0;
    max-width: 850px;
    @media (max-width: $md2+px) {
      padding: 0;
    }
  }
}

.slide {
  position: relative;
  height: 368px;

  &__content {
    position: relative;
    z-index: 2;
    padding: 49px 0 0 67px;
    @media (min-width: $md2+px) and (max-width: $md1+px) {
      padding-left: 30px;
    }
  }

  &__header {
    margin-bottom: 35px;
  }

  &__text1 {
    color: #ffffff;
    font-size: 29px;
    font-family: "Roboto";
    text-transform: uppercase;
    line-height: 34px;
    font-weight: 300;
    @media (max-width: $maxWidthContainer+px) {
      font-size: adaptivWindow(29, 25, $maxWidthContainer, 970);
    }
    &_orange {
      line-height: 38px;
      font-size: 31px;
      font-weight: 500;
      color: rgb(255, 88, 22);
      @media (max-width: $maxWidthContainer+px) {
        font-size: adaptivWindow(31, 28, $maxWidthContainer, 970);
      }
    }
  }

  &__text2 {
    color: #ffffff;
    font-size: 18px;
    font-family: "Roboto";
    text-transform: uppercase;
    font-weight: 300;
    font-style: italic;
    line-height: 26px;
    @media (max-width: $maxWidthContainer+px) {
      font-size: adaptivWindow(18, 17, $maxWidthContainer, $md1);
    }
  }

  &__list {
    font-size: 13px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 26px;
    font-weight: 300;
    @media (max-width: $maxWidthContainer+px) {
      font-size: adaptivWindow(13, 10, $maxWidthContainer, $md1);
    }
    @media (max-width: $md1+px) {
      font-size: 10px;
    }
    li {
      list-style: inside url(../img/circle.png);
    }
  }

  &__info {
    margin-top: 30px;
    display: block;
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 500;
    color: rgb(70, 115, 171);
    text-transform: uppercase;
    line-height: 26px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px -3px 0px 0px rgba(0, 1, 1, 0.23);
    width: 154px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 10px;
  }
}

.swiper-button-next {
  content: url(../img/arrow.png);
  width: 16px;
  height: 44px;
}
.swiper-button-prev {
  content: url(../img/arrow.png);
  transform: rotate(-180deg);
  width: 16px;
  height: 44px;
}
.swiper-container-horizontal {
  .swiper-pagination-bullets {
    display: flex;
    justify-content: flex-end;
    bottom: 20px;
    padding-right: 20px;

    .swiper-pagination-bullet {
      background: #ffffff;
      height: 15px;
      width: 15px;
      opacity: 1;
      border-radius: 4px;
    }

    .swiper-pagination-bullet-active {
      background-color: #ff5816;
    }
  }
}
.news {
  flex: 0 0 265px;
  @media (max-width: $md2+px) {
    display: none;
  }

  &__head {
    font: 400 22px/74px Roboto;
    text-transform: uppercase;
    margin: 6px 0 12px 0;
    border-bottom: 1px solid #dbdee6;
  }

  &__item {
    display: flex;
    border-bottom: #dbdee6 dashed 1px;
    padding: 20px 0 0 0;
  }

  &__column {
    position: relative;
    padding-right: 14px;
  }

  &__date {
    position: relative;
    bottom: 15px;
    text-align: center;
    font-size: 13px;
    font-family: "Roboto";
    color: rgb(4, 13, 13);

    span {
      font-size: 20px;
      font-family: "Roboto";
      font-weight: 500;
      color: rgb(255, 88, 22);
      text-align: center;
      display: block;
      border-radius: 4px;
      background-color: rgb(255, 255, 255);
      width: 36px;
      height: 24px;
      padding: 4px 0 0 0;
      margin-left: 12px;
    }
  }

  &__text {
    & a {
      font-weight: 500;
      color: rgb(70, 115, 171);
      display: block;

      &:hover {
        color: rgb(255, 88, 22);
        text-decoration: underline;
      }
    }

    font-size: 13px;
    font-family: "Roboto";
    line-height: 1.385;
  }

  &__all {
    font-size: 13px;
    font-family: "Roboto";
    color: rgb(70, 115, 171);
    text-decoration: underline;
    display: block;
    margin-top: 20px;
  }
}

.products {
  padding-bottom: 40px;
  &__wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    &_grey {
      padding: 0 0 adaptivBlock(40, 0, 1140, 720) 0;
    }
  }

  &__header {
    flex: 0 0 auto;
    background-color: #ffffff;
    padding-right: 30px;
    font: 500 22px Roboto;
    color: rgb(4, 13, 13);
    text-transform: uppercase;
    line-height: 0.909;
    @media (max-width: $maxWidthContainer+px) {
      order: -2;
      padding-right: 10px;
    }

    &_grey {
      padding-left: 30px;
      background: none;
    }
  }

  &__line {
    flex: 1 0 auto;
    border-bottom: #dbdee6 solid 1px;
    height: 0;

    &_grey {
      border-color: #ffffff;
      margin-right: 40px;
    }
  }

  &__all {
    display: block;
    font: 300 13px Roboto;
    color: rgb(70, 115, 171);
    text-decoration: underline;
    line-height: 1.538;
    background-color: #ffffff;
    padding-left: 10px;
    @media (max-width: $maxWidthContainer+px) {
      order: -1;
      height: 24px;
      background: url(../img/blue_arrow.png) no-repeat 10%;
      font-size: 0;
      width: 30px;
      &:hover {
        background-image: url(../img/arrow.png);
      }
    }
  }

  &_grey {
    @media (max-width: $md2+px) {
      display: none;
    }
    background-color: #e3e5eb;
    padding: 30px 0 25px 0;
    border-radius: 10px;
    margin-bottom: 40px;
  }
  @media (max-width: $md2+px) {
    &:nth-of-type(9) {
      display: none;
    }
  }
  @media (max-width: $md4+px) {
    &:nth-of-type(6),
    &:nth-of-type(7),
    &:nth-of-type(8),
    &:nth-of-type(10) {
      display: none;
    }
  }
}
.slider2 {
  &__item {
    border: 1px solid rgb(219, 222, 230);
    border-radius: 10px;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;

    @media (max-width: $maxWidthContainer+px) {
      padding: 0 12px 20px 12px;
    }

    &:hover {
      border-color: rgb(255, 94, 30);
    }
  }

  @media (max-width: $maxWidthContainer+px) {
    &__navigation {
      flex: 0 1 auto;
      height: 35px;
      width: 75px;
      position: relative;
    }

    &__button {
      content: url(../img/miniarrow.png);
      right: 0;
      top: 25px;
      width: 28px;
      height: 28px;
      padding: 5px 8px;
      border: #7f8686 solid 2px;
      border-radius: 50%;
    }
  }
}

.item-product {
  &__flag {
    position: absolute;
    top: -3px;
    background: url(../img/flag.png);
    width: 34px;
    height: 43px;
    font: 500 12px Roboto;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.833;
    padding: 10px 5px;

    &_recommend {
      padding-left: 7px;
      background: url(../img/recommend.png);
    }

    &_sale {
      font: 300 24px Roboto;
      padding: 5px 9px;
      background: url(../img/sale.png);
    }
  }

  &__image-wrapper {
    flex: 0 1 228px;
    @extend %pic-wrapper;
  }

  &__image {
    object-fit: cover;
    width: 100%;
  }

  &__header {
    display: inline-block;
    min-height: 43px;
    font: 500 16px Roboto;
    color: rgb(70, 115, 171);
    text-decoration: underline;
    line-height: 1.375;
    &:hover {
      color: #ff5e1e;
      text-decoration: underline;
    }
  }

  &__price {
    font: 300 13px Roboto;
    line-height: 22px;
    margin: 15px 0 10px 0;

    span {
      font: 500 20px Roboto;
      line-height: 22px;

      &.old-price {
        font: inherit;
        color: #ff5816;
        text-decoration: line-through;
      }
    }
  }
  &__bottom {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

  &__buy {
    border-radius: 7px;
    background: url(../img/basket2.png) no-repeat 13px, rgb(255, 94, 30);
    box-shadow: inset 0px -3px 0px 0px rgba(0, 1, 1, 0.23);
    width: 114px;
    height: 40px;
    display: inline-block;
    font: 500 14px Roboto;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.857;
    padding: 8px 0 0 45px;

    &:hover {
      background: url(../img/basket2.png) no-repeat 13px, rgb(70, 115, 171);
    }
  }

  &__info {
    font: 300 12px Roboto;
    color: rgb(70, 115, 171);
    text-decoration: underline;
    line-height: 1.538;
  }
}

.item-stock {
  padding: 0;
  @media (max-width: $maxWidthContainer+px) {
    padding: 0;
  }

  &__head {
    font: 500 16px/1.375 Roboto;
    color: rgb(70, 115, 171);
    text-decoration: underline;
    display: block;
    padding: 15px 0 10px 20px;
    &:hover {
      color: #ff5e1e;
      text-decoration: underline;
    }
  }

  &__image {
    width: 100%;
  }

  &__text {
    font: 300 13px/18px Roboto;
    padding: 15px 25px;
  }

  &__time {
    background-color: #dbdee6;
    display: flex;
    padding: 15px 20px 10px 20px;
    justify-content: center;
  }

  &__info {
    display: block;
    font: 300 13px/20px Roboto;
    color: #4673ab;
    text-decoration: underline;
    padding: 10px 0 15px 0;
    text-align: center;
  }
}

.time-stock {
  &__text {
    font: 300 12px/16px Roboto;
    @media (max-width: $maxWidthContainer+px) {
      display: none;
    }
  }

  &__no-validity {
    color: #337500;
    font: 400 14px/16px Roboto;
    text-transform: uppercase;
    padding: 10px 20px;
  }

  &__validity {
    display: flex;
  }

  &__column {
    text-align: center;
    margin-left: 5px;

    span {
      color: #7f8686;
      font: 300 11px/16px Roboto;
    }
  }

  &__numbers {
    display: flex;
  }

  &__numeral {
    background: #000;
    color: #ffffff;
    height: 25px;
    width: 17px;
    margin: 0 1px;
    border-radius: 2px;
    text-align: center;
    padding-left: 1px;
    font: 400 20px/25px Roboto;
    text-decoration: line-through #000000 1px;
  }
}

$font-stack: 500 16px/22px Roboto;

.now-products {
  display: flex;

  &__item {
    flex: 0 1 25%;
    @media (max-width: $md1+px) {
      flex: 0 1 33.3333%;

      &:last-child {
        display: none;
      }
    }
    @media (max-width: $md2+px) {
      flex: 0 1 50%;

      &:nth-child(3) {
        display: none;
      }
    }
  }

  p {
    display: flex;
    justify-content: center;
  }

  &__title {
    font: $font-stack;
    color: rgb(70, 115, 171);
    text-decoration: underline;
    margin-bottom: 50px;
  }
}

%pic-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-wrapper {
  height: 220px;
  @extend %pic-wrapper;
}

.brands-products {
  display: block;
  max-width: 100%;
  margin: 50px 0 70px 0;
}

.strengths-products {
  display: flex;

  &__item {
    flex: 0 1 25%;
    margin: 10px 40px 0 40px;
    @media (max-width: $md2+px) {
      margin: 10px 40px 0 40px;
    }
  }

  &__picture-wrapper {
    background: url(../img/circle_white.png) no-repeat center;
    height: 150px;
    @extend %pic-wrapper;
  }

  &__title {
    font: 500 12px/18px Roboto;
    text-transform: uppercase;
    text-align: center;
  }
}

.causes-products {
  display: flex;
  margin: 0 -10px;

  &__item {
    position: relative;
    flex: 0 1 50%;
    border: 2px solid rgb(246, 189, 191);
    border-radius: 10px;
    margin: 0 10px;

    &_green {
      border-color: #9bd1a6;
    }
  }

  &__title {
    background: url(../img/X.png) no-repeat 40px 29px, #cb0b13;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font: 500 15px/20px Roboto;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 75px;
    padding: 10px 60px 0 80px;
    @media (max-width: $maxWidthContainer+px) {
      padding: 10px adaptivWindow(60, 13, 1200, 750) 0 adaptivWindow(80, 45, 1200, 750);
      background: url(../img/X.png) no-repeat adaptivWindow(40, 10, 1200, 750) 29px, #cb0b13;
    }

    &_green {
      background: url(../img/check.png) no-repeat 40px 29px, #16a333;
      @media (max-width: $maxWidthContainer+px) {
        background: url(../img/check.png) no-repeat adaptivWindow(40, 10, 1200, 750) 29px, #16a333;
      }
    }
  }

  &__content {
    padding: 10px 20px 30px 40px;
  }

  &__paragraph {
    font: 300 15px/20px Roboto;
    list-style: outside url(../img/red_dot.png);
    margin: 10px;

    &_green {
      list-style-image: url(../img/green_dot.png);
    }
  }
}

.numbers-products {
  display: flex;
  @media (max-width: $maxWidthContainer+px) {
    display: none;
  }

  &__figure {
    flex: 0 1 16.6666%;
  }

  &__circle {
    font: 700 80px/18px Roboto;
    color: #ff5816;
    border: 1px solid rgb(219, 222, 230);
    border-radius: 50%;
    width: 134px;
    height: 134px;
    margin: 0 auto 15px auto;
    @extend %pic-wrapper;

    &_blue {
      color: #394a5c;
    }

    &_font1 {
      font-size: 54px;
    }

    &_font2 {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      font-size: 36px;
      line-height: 30px;
      &_n1 {
        font-size: 44px;
        line-height: 40px;
      }
      &_n2 {
        font-size: 19px;
        line-height: 18px;
        text-transform: uppercase;
      }
    }
  }

  &__title {
    font: 500 12px/18px Roboto;
    text-align: center;
    text-transform: uppercase;
    padding: 0 10px;
  }
}

.tabs-products {
  margin-left: -11px;
  input[type="radio"] {
    display: none;

    &:checked + label {
      background-color: #fff;
      text-decoration: none;
      color: #000;
    }
  }

  > div {
    display: none;
  }

  label {
    padding: 0 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 7px;
    background-color: rgb(219, 222, 230);
    height: 43px;
    font: 700 15px/18px Roboto;
    color: #ff5816;
    text-decoration: underline dotted 1px;
    text-transform: uppercase;
    @media (max-width: $md3+px) {
      padding: 0;
      min-width: 110px;
    }
  }

  #tab-btn-1:checked ~ #content-1,
  #tab-btn-2:checked ~ #content-2,
  #tab-btn-3:checked ~ #content-3,
  #tab-btn-4:checked ~ #content-4 {
    display: flex;
    flex-wrap: wrap;
  }

  &__act {
    font: 300 15px/18px Roboto;
    color: rgb(4, 13, 13);
    flex: 0 0 25%;
    padding: 50px 60px 30px 60px;
    background: url(../img/icon1.png) no-repeat 4% 40%, url(../img/arrow2.png) no-repeat 95% 40%;
    @media (max-width: $md1+px) {
      background-position: 30% 20%, 100% 50% !important;
      padding: 80px 50px 30px 10px;
    }
    @media (max-width: $md2+px) {
      flex: 0 1 50%;
      background-position: 30% 10%, 100% 15% !important;
      margin: 0 -20px 0 15px;
      padding: 60px 50px 20px 0px;
    }
    &_n2 {
      background-image: url(../img/icon2.png), url(../img/arrow2.png);
      @media (max-width: $md2+px) {
        background-image: url(../img/icon2.png);
        padding-right: 0;
      }
    }
    &_n3 {
      background-image: url(../img/icon3.png), url(../img/arrow2.png);
    }
    &_n4 {
      background-image: url(../img/icon4.png);
      padding-right: 0 !important;
    }
  }
}

.description {
  @media (min-width: 750px) {
    margin-top: adaptivBlock(100, 0, 1170, 750);
  }
  @media (max-width: $md2+px) {
    display: none;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__paragraph {
    flex: 0 1 calc(50% - 20px);
    font: 300 15px/22px Roboto;

    a {
      color: #ff5816;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.scroll {
  position: fixed;
  left: 4%;
  top: 5%;
  font: 800 23px Roboto;
  text-transform: uppercase;
  color: #c8cfcf;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;

  img {
    padding: 0 14px;
  }

  div {
    padding: 10px 0;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
}
