@charset "UTF-8";

/*Обнуление*/

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.header__top {
  background-color: black;
  height: 40px;
}

.menu {
  position: relative;
  height: 100%;
}

.menu__list {
  height: 100%;
  display: flex;
  align-items: center;
}

.menu__list > li {
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  border-left: #363c3e dotted 1px;
  padding: 0 calc(14.5px + 14.4 * (100% - 970px) / 230);
}

.menu__list > li:first-child {
  padding-left: 0;
  border-left: none;
}

.menu__list > li:last-child {
  padding-right: 0;
}

.menu__link {
  font-size: 13px;
  font-family: "Roboto";
  color: #bdc3c5;
}

.menu__link:hover {
  color: #ff5816;
}

.menu__clarification {
  display: none;
}

.icon-menu {
  display: none;
}

.middle-header__container {
  display: flex;
  justify-content: space-between;
}

.middle-header__container a {
  color: #4673ab;
}

.middle-header__column {
  margin: 10px 0 0 0;
  position: relative;
}

.middle-header__region {
  border-bottom: dotted 1px;
  line-height: 0.9em;
  display: inline-block;
}

.middle-header__login {
  text-decoration: underline;
  margin-right: 20px;
}

.middle-header__registr {
  text-decoration: underline;
}

.middle-header__exit {
  display: none;
}

.bottom-header__container {
  display: flex;
  justify-content: space-between;
}

.bottom-header__column:first-child {
  margin-top: 23px;
}

.bottom-header__column:nth-child(3) {
  margin: 5px 0 0 0;
}

.bottom-header__column:last-child {
  margin: 15px 0 0 0;
}

.bottom-header__logo {
  width: 197px;
  height: 35px;
  color: #040d0d;
  font-family: "Roboto";
  font-size: 46px;
  font-weight: 100;
  font-style: normal;
  letter-spacing: normal;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
}

.no-webp .bottom-header__logo span{
  background: url("../img/logo.png") no-repeat center; }

.bottom-header__logo span {
  color: #ff5816;
  padding: 0 5px;
  font-weight: 300;
  border-radius: 10px;
}

.bottom-header__logo-label {
  display: inline-block;
  margin-top: 10px;
  width: 198px;
  color: #818588;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 300;
  word-spacing: 1.5px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.no-webp .bottom-header__slogan{
  background: url(../img/Rubl.png) no-repeat 0 50%; }

.bottom-header__slogan {
  white-space: nowrap;
  margin: 0 0 10px 0;
  padding-left: 25px;
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  font-size: 17px;
}

.bottom-header__slogan p {
  color: #ff5816;
  font-size: 18px;
  font-family: Roboto;
  letter-spacing: normal;
  line-height: normal;
}

.bottom-header__search {
  padding: 2px 0 0 12px;
  width: 228px;
  height: 30px;
  border-radius: 4px;
  background-color: #eff0f4;
}

.bottom-header__search input {
  width: 152px;
  background-color: #eff0f4;
}

.bottom-header__search button {
  color: white;
  width: 58px;
  height: 26px;
  border-radius: 3px;
  background-color: #ff5816;
}

.contacts-header {
  display: flex;
}

.no-webp .contacts-header__callback{
  background: url(../img/callback.png) no-repeat 100% 50%; }

.contacts-header__callback {
  display: block;
  padding: 15px 30px 15px 20px;
  text-decoration: underline;
  color: #4673ab !important;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 10px 0 0;
}

.contacts-header__number {
  white-space: nowrap;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.contacts-header__schedule {
  display: inline-block;
  margin: 5px 0;
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.contacts-header__viber {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.contacts-header__e-mail {
  color: #4673ab;
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-decoration: underline;
}

.no-webp .basket-header__basket{
  background: url(../img/basket.png); }

.basket-header__basket {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 195px;
  height: 52px;
  font-family: "Roboto Light";
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  line-height: 18px;
}

.basket-header__basket p {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
}

.no-webp .basket-header__basket_icon{
  background: url(../img/icons/basket_icon.png) no-repeat 12.5% 50%; }

.basket-header__basket a {
  color: #4673ab;
  text-decoration: underline;
}

.basket-header__info {
  font-family: Roboto;
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 18px;
  color: #363c3e;
  padding: 10px 0 5px 20px;
  border-bottom: dotted 1px;
  line-height: 0.9em;
  display: inline-block;
  border-color: #4673ab;
}

.basket-header__info span {
  color: #4673ab;
  font-size: 13px;
}

.no-webp .basket-header__info_select{
  background: url(../img/select.png) no-repeat 0 50%; }

.basket-header__info_select {
  margin: 0 15px 0 3px;
}

.no-webp .basket-header__info_compare{
  background: url(../img/compare.png) no-repeat 0 50%; }

.sub-menu__list {
  position: absolute;
  width: auto;
  background-color: #000;
  left: 0;
  top: 25px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.sub-menu__list.open {
  opacity: 1;
  visibility: visible;
}

.sub-menu__list > li {
  margin: 10px 0 !important;
}

.sub-menu__link {
  color: #818588;
  display: inline-block;
  padding: 5px 10px;
}

.arrow {
  cursor: pointer;
  display: block;
  margin: 3px 0 0 4px;
  width: 0;
  height: 0;
  border-top: 9px solid #ff6837;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.arrow:hover {
  border-top-color: #4673ab;
}

.arrow.active {
  transform: rotate(-180deg);
}

.auth {
  position: absolute;
  left: -158%;
  background: #fff;
  z-index: 2;
  width: 350px;
  padding: 20px;
  border: 2px #bdc3c5 solid;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}

.auth.open {
  opacity: 1;
  visibility: visible;
}

.auth a {
  text-decoration: underline;
}

.auth a:hover {
  color: #ff5816;
}

.auth__header {
  font: 500 20px Roboto;
  text-transform: uppercase;
}

.auth__element {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.auth__element span {
  color: #ff5816;
}

.auth__element input {
  border: 1px solid #bdc3c5;
  border-radius: 3px;
  height: 25px;
  width: 200px;
  padding: 0 5px;
}

.auth__element input:focus {
  box-shadow: inset 0 0 3px #818588;
}

.auth__remember {
  cursor: pointer;
}

.auth__forget {
  text-decoration: underline;
}

.auth__button {
  height: 35px;
  width: 100px;
  color: #fff;
  font: 400 15px Roboto;
  text-transform: uppercase;
  background: #ff5816;
  border-radius: 5px;
  border-bottom: 3px #c44817 solid;
}

.auth__button:hover {
  background: #4673ab;
  border-color: #284263;
}

.reg {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}

.reg.open {
  opacity: 1;
  visibility: visible;
}

.reg__body {
  background-color: #fff;
  padding: 30px;
  font: 400 25px Roboto;
}

.reg__header {
  font-size: 30px;
  text-transform: uppercase;
  padding: 0 0 20px;
  text-align: center;
}

.reg__element {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.reg__element span {
  color: #ff5816;
}

.reg__element input {
  border: 1px solid #bdc3c5;
  border-radius: 3px;
  height: 35px;
  width: 200px;
  padding: 0 5px;
  font-size: 15px;
}

.reg__element input:focus {
  box-shadow: inset 0 0 3px #818588;
}

.reg__button {
  height: 35px;
  width: 300px;
  color: #fff;
  font: 400 20px Roboto;
  text-transform: uppercase;
  background: #ff5816;
  border-radius: 5px;
  border-bottom: 3px #c44817 solid;
}

.reg__button:hover {
  background: #4673ab;
  border-color: #284263;
}

.footer {
  position: relative;
  padding: 40px 0 0 0;
  background: #5c7489;
  margin-top: 50px;
  color: #c8d4dc;
  font-size: 13px;
  font-family: "Roboto";
  line-height: 1.385;
}

.footer a {
  color: #c8d4dc;
  text-decoration: underline;
}

.footer a:hover {
  text-decoration: none;
}

.footer__body {
  display: flex;
  margin: 0 -5px;
}

.footer__column {
  padding: 0 5px;
  flex: 0 1 25%;
}

.footer__column:first-child p {
  margin: 20px 0;
}

.footer__bottom {
  background: #2c3f53;
  margin-top: 10px;
  padding: 20px 0;
}

.footer__socials {
  margin: 30px 0;
}

.bottom-footer__content {
  display: flex;
  justify-content: space-between;
}

.middle-footer__content {
  display: flex;
  justify-content: space-between;
}

html {
  scroll-behavior: smooth;
}

body._lock {
  overflow: hidden;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}

.page__container {
  margin-top: 23px;
}

.main-menu {
  height: 48px;
  box-shadow: inset 0 -3px 0 rgba(0, 1, 1, 0.23);
  border-radius: 10px;
  background-color: #ff5816;
}

.main-menu li:first-child a {
  padding-left: 16px;
  border-radius: 10px 0 0 10px;
}

.main-menu li:nth-last-child(2) a {
  border-right: none;
  padding-right: 20px;
}

.main-menu__body {
  display: flex;
  height: 100%;
}

.main-menu__link {
  display: block;
  height: 100%;
  padding: 9px 7px 11px 6px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
  border-right: solid 1px #ffffff;
}

.main-menu__link:hover {
  background-color: #fc7c49;
  text-decoration: underline;
}

.no-webp .main-menu__arrow{
  background: url(../img/Layer_760.png) no-repeat right; }

.main-menu__arrow {
  flex: 1 0 17px;
}

.main-menu__arrow a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 19px 0 0 6px;
}

.introducing {
  display: flex;
  padding-bottom: 40px;
}

.introducing__advertisment {
  border-radius: 10px;
  background-color: #e3e5eb;
  height: 48px;
  font: 300 16px Roboto;
  color: #131a1a;
  font-style: italic;
  text-transform: uppercase;
  padding: 0 10px;
  margin: 15px 0 33px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introducing__advertisment a {
  color: #4673ab;
  font-weight: 500;
}

.introducing__column {
  padding: 0 0 0 30px;
  min-width: 0;
  max-width: 850px;
}

.slide {
  position: relative;
  height: 368px;
}

.slide__content {
  position: relative;
  z-index: 2;
  padding: 49px 0 0 67px;
}

.slide__header {
  margin-bottom: 35px;
}

.slide__text1 {
  color: #ffffff;
  font-size: 29px;
  font-family: "Roboto";
  text-transform: uppercase;
  line-height: 34px;
  font-weight: 300;
}

.slide__text1_orange {
  line-height: 38px;
  font-size: 31px;
  font-weight: 500;
  color: #ff5816;
}

.slide__text2 {
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
  line-height: 26px;
}

.slide__list {
  font-size: 13px;
  font-family: "Roboto";
  color: white;
  line-height: 26px;
  font-weight: 300;
}

.slide__list li {
  list-style: inside url(../img/circle.png);
}

.slide__info {
  margin-top: 30px;
  display: block;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 500;
  color: #4673ab;
  text-transform: uppercase;
  line-height: 26px;
  border-radius: 7px;
  background-color: white;
  box-shadow: inset 0px -3px 0px 0px rgba(0, 1, 1, 0.23);
  width: 154px;
  height: 40px;
  text-align: center;
  padding-top: 8px;
}

.slide__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.swiper-button-next {
  content: url(../img/arrow.png);
  width: 16px;
  height: 44px;
}

.swiper-button-prev {
  content: url(../img/arrow.png);
  transform: rotate(-180deg);
  width: 16px;
  height: 44px;
}

.swiper-container-horizontal .swiper-pagination-bullets {
  display: flex;
  justify-content: flex-end;
  bottom: 20px;
  padding-right: 20px;
}

.swiper-container-horizontal .swiper-pagination-bullets .swiper-pagination-bullet {
  background: #ffffff;
  height: 15px;
  width: 15px;
  opacity: 1;
  border-radius: 4px;
}

.swiper-container-horizontal .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #ff5816;
}

.news {
  flex: 0 0 265px;
}

.news__head {
  font: 400 22px/74px Roboto;
  text-transform: uppercase;
  margin: 6px 0 12px 0;
  border-bottom: 1px solid #dbdee6;
}

.news__item {
  display: flex;
  border-bottom: #dbdee6 dashed 1px;
  padding: 20px 0 0 0;
}

.news__column {
  position: relative;
  padding-right: 14px;
}

.news__date {
  position: relative;
  bottom: 15px;
  text-align: center;
  font-size: 13px;
  font-family: "Roboto";
  color: #040d0d;
}

.news__date span {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 500;
  color: #ff5816;
  text-align: center;
  display: block;
  border-radius: 4px;
  background-color: white;
  width: 36px;
  height: 24px;
  padding: 4px 0 0 0;
  margin-left: 12px;
}

.news__text {
  font-size: 13px;
  font-family: "Roboto";
  line-height: 1.385;
}

.news__text a {
  font-weight: 500;
  color: #4673ab;
  display: block;
}

.news__text a:hover {
  color: #ff5816;
  text-decoration: underline;
}

.news__all {
  font-size: 13px;
  font-family: "Roboto";
  color: #4673ab;
  text-decoration: underline;
  display: block;
  margin-top: 20px;
}

.products {
  padding-bottom: 40px;
}

.products__wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.products__wrapper_grey {
  padding: 0 0 calc(0px + 40 * (100% - 720px) / 420) 0;
}

.products__header {
  flex: 0 0 auto;
  background-color: #ffffff;
  padding-right: 30px;
  font: 500 22px Roboto;
  color: #040d0d;
  text-transform: uppercase;
  line-height: 0.909;
}

.products__header_grey {
  padding-left: 30px;
  background: none;
}

.products__line {
  flex: 1 0 auto;
  border-bottom: #dbdee6 solid 1px;
  height: 0;
}

.products__line_grey {
  border-color: #ffffff;
  margin-right: 40px;
}

.products__all {
  display: block;
  font: 300 13px Roboto;
  color: #4673ab;
  text-decoration: underline;
  line-height: 1.538;
  background-color: #ffffff;
  padding-left: 10px;
}

.products_grey {
  background-color: #e3e5eb;
  padding: 30px 0 25px 0;
  border-radius: 10px;
  margin-bottom: 40px;
}

.slider2__item {
  border: 1px solid #dbdee6;
  border-radius: 10px;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.slider2__item:hover {
  border-color: #ff5e1e;
}

.no-webp .item-product__flag{
  background: url(../img/flag.png); }

.item-product__flag {
  position: absolute;
  top: -3px;
  width: 34px;
  height: 43px;
  font: 500 12px Roboto;
  color: white;
  text-transform: uppercase;
  line-height: 1.833;
  padding: 10px 5px;
}

.no-webp .item-product__flag_recommend{
  background: url(../img/recommend.png); }

.item-product__flag_recommend {
  padding-left: 7px;
}

.no-webp .item-product__flag_sale{
  background: url(../img/sale.png); }

.item-product__flag_sale {
  font: 300 24px Roboto;
  padding: 5px 9px;
}

.item-product__image-wrapper {
  flex: 0 1 228px;
}

.item-product__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.item-product__header {
  display: inline-block;
  min-height: 43px;
  font: 500 16px Roboto;
  color: #4673ab;
  text-decoration: underline;
  line-height: 1.375;
}

.item-product__header:hover {
  color: #ff5e1e;
  text-decoration: underline;
}

.item-product__price {
  font: 300 13px Roboto;
  line-height: 22px;
  margin: 15px 0 10px 0;
}

.item-product__price span {
  font: 500 20px Roboto;
  line-height: 22px;
}

.item-product__price span.old-price {
  font: inherit;
  color: #ff5816;
  text-decoration: line-through;
}

.item-product__bottom {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.no-webp .item-product__buy{
  background: url(../img/basket2.png) no-repeat 13px, #ff5e1e; }

.item-product__buy {
  border-radius: 7px;
  box-shadow: inset 0px -3px 0px 0px rgba(0, 1, 1, 0.23);
  width: 114px;
  height: 40px;
  display: inline-block;
  font: 500 14px Roboto;
  color: white;
  text-transform: uppercase;
  line-height: 1.857;
  padding: 8px 0 0 45px;
}

.no-webp .item-product__buy:hover{
  background: url(../img/basket2.png) no-repeat 13px, #4673ab; }

.item-product__info {
  font: 300 12px Roboto;
  color: #4673ab;
  text-decoration: underline;
  line-height: 1.538;
}

.item-stock {
  padding: 0;
}

.item-stock__head {
  font: 500 16px/1.375 Roboto;
  color: #4673ab;
  text-decoration: underline;
  display: block;
  padding: 15px 0 10px 20px;
}

.item-stock__head:hover {
  color: #ff5e1e;
  text-decoration: underline;
}

.item-stock__image {
  width: 100%;
}

.item-stock__text {
  font: 300 13px/18px Roboto;
  padding: 15px 25px;
}

.item-stock__time {
  background-color: #dbdee6;
  display: flex;
  padding: 15px 20px 10px 20px;
  justify-content: center;
}

.item-stock__info {
  display: block;
  font: 300 13px/20px Roboto;
  color: #4673ab;
  text-decoration: underline;
  padding: 10px 0 15px 0;
  text-align: center;
}

.time-stock__text {
  font: 300 12px/16px Roboto;
}

.time-stock__no-validity {
  color: #337500;
  font: 400 14px/16px Roboto;
  text-transform: uppercase;
  padding: 10px 20px;
}

.time-stock__validity {
  display: flex;
}

.time-stock__column {
  text-align: center;
  margin-left: 5px;
}

.time-stock__column span {
  color: #7f8686;
  font: 300 11px/16px Roboto;
}

.time-stock__numbers {
  display: flex;
}

.time-stock__numeral {
  background: #000;
  color: #ffffff;
  height: 25px;
  width: 17px;
  margin: 0 1px;
  border-radius: 2px;
  text-align: center;
  padding-left: 1px;
  font: 400 20px/25px Roboto;
  -webkit-text-decoration: line-through #000000 1px;
          text-decoration: line-through #000000 1px;
}

.now-products {
  display: flex;
}

.now-products__item {
  flex: 0 1 25%;
}

.now-products p {
  display: flex;
  justify-content: center;
}

.now-products__title {
  font: 500 16px/22px Roboto;
  color: #4673ab;
  text-decoration: underline;
  margin-bottom: 50px;
}

.item-product__image-wrapper,
.picture-wrapper,
.strengths-products__picture-wrapper,
.numbers-products__circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-wrapper {
  height: 220px;
}

.brands-products {
  display: block;
  max-width: 100%;
  margin: 50px 0 70px 0;
}

.strengths-products {
  display: flex;
}

.strengths-products__item {
  flex: 0 1 25%;
  margin: 10px 40px 0 40px;
}

.no-webp .strengths-products__picture-wrapper{
  background: url(../img/circle_white.png) no-repeat center; }

.strengths-products__picture-wrapper {
  height: 150px;
}

.strengths-products__title {
  font: 500 12px/18px Roboto;
  text-transform: uppercase;
  text-align: center;
}

.causes-products {
  display: flex;
  margin: 0 -10px;
}

.causes-products__item {
  position: relative;
  flex: 0 1 50%;
  border: 2px solid #f6bdbf;
  border-radius: 10px;
  margin: 0 10px;
}

.causes-products__item_green {
  border-color: #9bd1a6;
}

.no-webp .causes-products__title{
  background: url(../img/X.png) no-repeat 40px 29px, #cb0b13; }

.causes-products__title {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font: 500 15px/20px Roboto;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  height: 75px;
  padding: 10px 60px 0 80px;
}

.no-webp .causes-products__title_green{
  background: url(../img/check.png) no-repeat 40px 29px, #16a333; }

.causes-products__content {
  padding: 10px 20px 30px 40px;
}

.causes-products__paragraph {
  font: 300 15px/20px Roboto;
  list-style: outside url(../img/red_dot.png);
  margin: 10px;
}

.causes-products__paragraph_green {
  list-style-image: url(../img/green_dot.png);
}

.numbers-products {
  display: flex;
}

.numbers-products__figure {
  flex: 0 1 16.6666%;
}

.numbers-products__circle {
  font: 700 80px/18px Roboto;
  color: #ff5816;
  border: 1px solid #dbdee6;
  border-radius: 50%;
  width: 134px;
  height: 134px;
  margin: 0 auto 15px auto;
}

.numbers-products__circle_blue {
  color: #394a5c;
}

.numbers-products__circle_font1 {
  font-size: 54px;
}

.numbers-products__circle_font2 {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  line-height: 30px;
}

.numbers-products__circle_font2_n1 {
  font-size: 44px;
  line-height: 40px;
}

.numbers-products__circle_font2_n2 {
  font-size: 19px;
  line-height: 18px;
  text-transform: uppercase;
}

.numbers-products__title {
  font: 500 12px/18px Roboto;
  text-align: center;
  text-transform: uppercase;
  padding: 0 10px;
}

.tabs-products {
  margin-left: -11px;
}

.tabs-products input[type="radio"] {
  display: none;
}

.tabs-products input[type="radio"]:checked + label {
  background-color: #fff;
  text-decoration: none;
  color: #000;
}

.tabs-products > div {
  display: none;
}

.tabs-products label {
  padding: 0 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 7px;
  background-color: #dbdee6;
  height: 43px;
  font: 700 15px/18px Roboto;
  color: #ff5816;
  -webkit-text-decoration: underline dotted 1px;
          text-decoration: underline dotted 1px;
  text-transform: uppercase;
}

.tabs-products #tab-btn-1:checked ~ #content-1,
.tabs-products #tab-btn-2:checked ~ #content-2,
.tabs-products #tab-btn-3:checked ~ #content-3,
.tabs-products #tab-btn-4:checked ~ #content-4 {
  display: flex;
  flex-wrap: wrap;
}

.no-webp .tabs-products__act{
  background: url(../img/icon1.png) no-repeat 4% 40%, url(../img/arrow2.png) no-repeat 95% 40%; }

.tabs-products__act {
  font: 300 15px/18px Roboto;
  color: #040d0d;
  flex: 0 0 25%;
  padding: 50px 60px 30px 60px;
}

.no-webp .tabs-products__act_n2{
  background-image: url(../img/icon2.png), url(../img/arrow2.png); }

.no-webp .tabs-products__act_n3{
  background-image: url(../img/icon3.png), url(../img/arrow2.png); }

.no-webp .tabs-products__act_n4{
  background-image: url(../img/icon4.png); }

.tabs-products__act_n4 {
  padding-right: 0 !important;
}

.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.description__paragraph {
  flex: 0 1 calc(50% - 20px);
  font: 300 15px/22px Roboto;
}

.description__paragraph a {
  color: #ff5816;
  text-decoration: underline;
}

.description__paragraph a:hover {
  text-decoration: none;
}

.scroll {
  position: fixed;
  left: 4%;
  top: 5%;
  font: 800 23px Roboto;
  text-transform: uppercase;
  color: #c8cfcf;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
}

.scroll img {
  padding: 0 14px;
}

.scroll div {
  padding: 10px 0;
}

.visible {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 750px) {
  .description {
    margin-top: calc(0px + 100 * (100% - 750px) / 420);
  }
}

@media (max-width: 1170px) {
  .main-menu {
    display: none;
  }

  .introducing__advertisment {
    font-size: calc(12px + 4 * (100vw - 970px) / 200);
  }

  .slide__text1 {
    font-size: calc(25px + 4 * (100vw - 970px) / 200);
  }

  .slide__text1_orange {
    font-size: calc(28px + 3 * (100vw - 970px) / 200);
  }

  .slide__text2 {
    font-size: calc(17px + 1 * (100vw - 970px) / 200);
  }

  .slide__list {
    font-size: calc(10px + 3 * (100vw - 970px) / 200);
  }

  .products__header {
    order: -2;
    padding-right: 10px;
  }

  .no-webp .products__all{
    background: url(../img/blue_arrow.png) no-repeat 10%; }

  .products__all {
    order: -1;
    height: 24px;
    font-size: 0;
    width: 30px;
  }

  .no-webp .products__all:hover{
    background-image: url(../img/arrow.png); }

  .slider2__item {
    padding: 0 12px 20px 12px;
  }

  .slider2__navigation {
    flex: 0 1 auto;
    height: 35px;
    width: 75px;
    position: relative;
  }

  .slider2__button {
    content: url(../img/miniarrow.png);
    right: 0;
    top: 25px;
    width: 28px;
    height: 28px;
    padding: 5px 8px;
    border: #7f8686 solid 2px;
    border-radius: 50%;
  }

  .item-stock {
    padding: 0;
  }

  .time-stock__text {
    display: none;
  }

  .no-webp .causes-products__title{
    background: url(../img/X.png) no-repeat calc(10px + 30 * (100vw - 750px) / 450) 29px, #cb0b13; }

  .causes-products__title {
    padding: 10px calc(13px + 47 * (100vw - 750px) / 450) 0 calc(45px + 35 * (100vw - 750px) / 450);
  }

  .no-webp .causes-products__title_green{
    background: url(../img/check.png) no-repeat calc(10px + 30 * (100vw - 750px) / 450) 29px, #16a333; }

  .numbers-products {
    display: none;
  }
}

@media (max-width: 970px) {
  .menu__list {
    overflow: auto;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100%;
    transition: all 0.3s ease 0s;
    background-color: black;
    display: block;
    padding: 40px 0 0 0;
    z-index: 4;
  }

  .menu__list li {
    margin: 20px 0;
    border: none;
    padding: 0;
    background: none;
    justify-content: center;
  }

  .menu__list._active {
    top: 0;
  }

  .menu__list > li {
    flex-wrap: wrap;
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__clarification {
    z-index: 5;
    background-color: black;
    display: block;
    color: #bdc3c5;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    position: absolute;
    height: 40px;
    width: calc(100% - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu__clarification span {
    display: inline-block;
    margin-right: -60px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 13px;
    right: 50%;
    width: 32px;
    height: 15px;
    cursor: pointer;
    z-index: 6;
  }

  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ff6837;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    transform: scale(0);
  }

  .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .bottom-header__container {
    justify-content: left;
  }

  .bottom-header__column {
    flex: 1 0 195px;
  }

  .bottom-header__column:nth-child(2) {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
  }

  .bottom-header__column:nth-child(3) {
    flex: 0 1 auto;
  }

  .bottom-header__slogan {
    display: none;
  }

  .no-webp .bottom-header__search{
    background: url(../img/icons/поиск.png) no-repeat; }

  .bottom-header__search {
    margin: 35px calc(10px + 1vw) 0 0;
    width: 22px;
    height: 22px;
  }

  .bottom-header__search input {
    display: none;
  }

  .bottom-header__search button {
    display: none;
  }

  .sub-menu__list {
    flex: 0 0 100%;
    position: fixed;
    text-align: center;
    font-size: 20px;
  }

  .sub-menu__list.open {
    position: static;
  }

  ._container {
    max-width: 940px;
  }

  .introducing__advertisment {
    font-size: 12px;
  }

  .introducing__advertisment a {
    display: block;
  }

  .slide__list {
    font-size: 10px;
  }

  .now-products__item {
    flex: 0 1 33.3333%;
  }

  .now-products__item:last-child {
    display: none;
  }

  .tabs-products__act {
    background-position: 30% 20%, 100% 50% !important;
    padding: 80px 50px 30px 10px;
  }
}

@media (max-width: 970px) and (max-width: 630px) {
  .bottom-header__search {
    position: absolute;
    top: 55px;
    right: 50px;
  }
}

@media (max-width: 770px) {
  .bottom-header__logo {
    font-size: calc(32px + 14 * ((100vw - 320px) / 430));
  }

  .bottom-header__logo-label {
    display: none;
  }

  .contacts-header {
    text-align: right;
  }

  .contacts-header__callback {
    display: none;
  }

  .contacts-header__number {
    font-size: calc(17px + 5 * ((100vw - 320px) / 430));
  }

  .introducing__advertisment {
    display: none;
  }

  .introducing__column {
    padding: 0;
  }

  .news {
    display: none;
  }

  .products_grey {
    display: none;
  }

  .products:nth-of-type(9) {
    display: none;
  }

  .now-products__item {
    flex: 0 1 50%;
  }

  .now-products__item:nth-child(3) {
    display: none;
  }

  .strengths-products__item {
    margin: 10px 40px 0 40px;
  }

  .tabs-products__act {
    flex: 0 1 50%;
    background-position: 30% 10%, 100% 15% !important;
    margin: 0 -20px 0 15px;
    padding: 60px 50px 20px 0px;
  }

  .no-webp .tabs-products__act_n2{
    background-image: url(../img/icon2.png); }

  .tabs-products__act_n2 {
    padding-right: 0;
  }

  .description {
    display: none;
  }
}

@media (max-width: 630px) {
  .bottom-header__column:last-child {
    margin: 26px 0 0 21px;
  }

  .contacts-header__number {
    margin: 15px 0 0 0;
  }

  .contacts-header__e-mail {
    display: block;
    margin: 20px 0 0 2px;
  }

  .basket-header__basket_icon {
    background: none !important;
  }

  .no-webp .basket-header__basket{
    background: url(../img/icons/basket_icon.png) no-repeat 93% 0; }

  .basket-header__basket {
    font-size: 0;
    width: 90px;
    height: 25px;
  }

  .basket-header__info {
    display: none;
  }

  .footer__body {
    flex-wrap: wrap;
    margin-top: 100px;
  }

  .footer__column {
    flex: 0 0 50%;
    padding: 0;
  }

  .footer__column:nth-child(2) {
    display: none;
  }

  .footer__column:nth-child(3) {
    display: flex;
    flex-direction: column;
    line-height: 27px;
    order: -1;
    flex: 0 1 100%;
    position: absolute;
    width: 100vw;
    top: 0;
    right: 0;
  }

  .no-webp .footer__column:nth-child(3) a{
    background: url(../img/arrow3.png) no-repeat 95%; }

  .footer__column:nth-child(3) a {
    display: block;
    border: 1px solid #fff;
    text-decoration: none;
    padding-left: 15px;
  }

  .bottom-footer__content {
    justify-content: center;
  }

  .bottom-footer__text {
    display: none;
  }

  .tabs-products label {
    padding: 0;
    min-width: 110px;
  }
}

@media (max-width: 490px) {
  .middle-header__column {
    margin-left: calc(40 * (100vw - 320px) / 170);
  }

  .middle-header__login {
    display: none;
  }

  .middle-header__registr {
    margin-right: calc(40 * (100vw - 320px) / 170);
  }

  .bottom-header__column:first-child {
    flex: 0 1 100px;
    margin-left: calc(40 * (100vw - 320px) / 170);
  }

  .bottom-header__column:last-child {
    margin-right: calc(40 * (100vw - 320px) / 170);
  }

  .bottom-header__search {
    margin-right: calc(40 * (100vw - 320px) / 170 + 10px + 1vw);
  }

  .contacts-header__schedule {
    display: none;
  }

  .introducing {
    display: none;
  }

  .products:nth-of-type(6),
  .products:nth-of-type(7),
  .products:nth-of-type(8),
  .products:nth-of-type(10) {
    display: none;
  }
}

@media (min-width: 770px) and (max-width: 970px) {
  .slide__content {
    padding-left: 30px;
  }
}

.webp .bottom-header__logo span{ background: url(../img/logo.webp) no-repeat center; }

.webp .bottom-header__slogan{ background: url(../img/Rubl.webp) no-repeat 0 50%; }

.webp .contacts-header__callback{ background: url(../img/callback.webp) no-repeat 100% 50%; }

.webp .basket-header__basket{ background: url(../img/basket.webp); }

.webp .basket-header__basket_icon{ background: url(../img/icons/basket_icon.webp) no-repeat 12.5% 50%; }

.webp .basket-header__info_select{ background: url(../img/select.webp) no-repeat 0 50%; }

.webp .basket-header__info_compare{ background: url(../img/compare.webp) no-repeat 0 50%; }

.webp .main-menu__arrow{ background: url(../img/Layer_760.webp) no-repeat right; }

.webp .item-product__flag{ background: url(../img/flag.webp); }

.webp .item-product__flag_recommend{ background: url(../img/recommend.webp); }

.webp .item-product__flag_sale{ background: url(../img/sale.webp); }

.webp .item-product__buy{ background: url(../img/basket2.webp) no-repeat 13px, #ff5e1e; }

.webp .item-product__buy:hover{ background: url(../img/basket2.webp) no-repeat 13px, #4673ab; }

.webp .strengths-products__picture-wrapper{ background: url(../img/circle_white.webp) no-repeat center; }

.webp .causes-products__title{ background: url(../img/X.webp) no-repeat 40px 29px, #cb0b13; }

.webp .causes-products__title_green{ background: url(../img/check.webp) no-repeat 40px 29px, #16a333; }

.webp .tabs-products__act{ background: url(../img/icon1.webp) no-repeat 4% 40%, url(../img/arrow2.webp) no-repeat 95% 40%; }

.webp .tabs-products__act_n2{ background-image: url(../img/icon2.webp), url(../img/arrow2.webp); }

.webp .tabs-products__act_n3{ background-image: url(../img/icon3.webp), url(../img/arrow2.webp); }

.webp .tabs-products__act_n4{ background-image: url(../img/icon4.webp); }

@media (max-width: 1170px){

  .webp .products__all{ background: url(../img/blue_arrow.webp) no-repeat 10%; }
}

@media (max-width: 1170px){

  .webp .products__all:hover{ background-image: url(../img/arrow.webp); }
}

@media (max-width: 1170px){

  .webp .causes-products__title{ background: url(../img/X.webp) no-repeat calc(10px + 30 * (100vw - 750px) / 450) 29px, #cb0b13; }
}

@media (max-width: 1170px){

  .webp .causes-products__title_green{ background: url(../img/check.webp) no-repeat calc(10px + 30 * (100vw - 750px) / 450) 29px, #16a333; }
}

@media (max-width: 970px){

  .webp .bottom-header__search{ background: url(../img/icons/поиск.webp) no-repeat; }
}

@media (max-width: 770px){

  .webp .tabs-products__act_n2{ background-image: url(../img/icon2.webp); }
}

@media (max-width: 630px){

  .webp .basket-header__basket{ background: url(../img/icons/basket_icon.webp) no-repeat 93% 0; }
}

@media (max-width: 630px){

  .webp .footer__column:nth-child(3) a{ background: url(../img/arrow3.webp) no-repeat 95%; }
}